<script>
    $('body').on('change', '.bulk_image', function(e){
        var $loading_elem = $('<p>Loading...</p>'),
            self = this,
            len = self.files.length,
            form_data = new FormData();
        
        for(var i = 0; i < len; i++){
            var file = self.files[i];
            
            if (!!file.type.match(/image.*/)) {  
                var reader = new FileReader();  
                reader.onloadend = function (e) {
                	var $list = $(self).parent().find('.image_list'),  
                        $li = $('<li/>'),  
                        $img = $('<img/>', {
                            'src': e.target.result,
                            'width': '100px',
                            'height': '100px'
                        }),
                        $remove_button = $('<a/>', {
                        	'href': 'javascript: void(0);',
                        	'class': 'image_remove_button'
                        });
                	
                	$remove_button.html('Remove');
                    $li.append($img).append($remove_button);  
                    $list.append($li);
                    $(self).replaceWith(self = $(self).clone(true));
                };  
                reader.readAsDataURL(file);
                form_data.append('images[]', file);
            }   
        }
        
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token}}');
        
        $.ajax({  
            url: "{% url 'bulk_loading_bulk_image_upload' %}",  
            type: "POST",  
            data: form_data,
            processData: false,  
            contentType: false,
            beforeSend: function(){
                $(self).after($loading_elem);
            },
            success: function(data){  
                data = JSON.parse(data);
                if(data.success){
                	var $image_ids_elem = $(self).parents('form').find('.image_ids'),
                        image_ids_elem_val = $image_ids_elem.val();
                	
                	if(image_ids_elem_val){
                		$image_ids_elem.val(image_ids_elem_val + ',' + data.image_ids);
                	} else{
                		$image_ids_elem.val(data.image_ids);
                	}
                    
                } else{
                    alert('Something went wrong');
                }
            },
            complete: function(){
                $loading_elem.remove();
            }
        });
    });
    
    /*$('.bulk_image').each(function(){
    	var self = this;
	   	$(self).parents('form').validate({
           submitHandler: function(form){
               $(self).remove();
               form.submit();
           }
	   	});
    });*/
</script>