{% if user.is_admin %}
<script>
    $('.tag_widget_tags.admin').tagit({
    	autocomplete: {
    		delay: 0,
    		minLength: 2,
    		source: "{% url 'retrieve_tags' %}"
    	}
    });
    
    $('.tag_save').click(function(e){
    	var self = this;
        $(self).parent().ajaxSubmit({
        	beforeSubmit: function(){
        		$(self).html('Saving...');
        	},
            success: function(data){
                data = JSON.parse(data);
                if(data.success){
                	$(self).html('Saved!');
                	setTimeout(function(){
                		$(self).html('Save');
                	}, 3000);
                }
            }
        });
     });
    
    $('.tag_clear').click(function(e){
        $(this).parent().find('.tag_widget_tags.admin').tagit('removeAll');
     });
</script>
{% endif %}