{% if user.is_admin %}
	<script>
	    $('.new_tag_form').each(function(index, new_tag_form){
		    $(new_tag_form).validate({
		        submitHandler: function(form){
		            $(form).ajaxSubmit({
		                success: function(data){
		                    data = JSON.parse(data);
		                    if(data.success){
		                        $('#comment_widget_comment_count').html(data.num_comments);
		                        $('#comment_widget_container').prepend(data.comment);
		                        
		                        if(data.num_comments == 0 || data.num_comments > 1){
		                            $('#comment_widget_comment_description').html('Comments');
		                        }else{
		                            $('#comment_widget_comment_description').html('Comment');
		                        }
		                    }
		                }
		            });
		        }
		    });
	    });
	</script>
{% endif %}