{% extends 'base.html' %}
{% load core_widgets tagging_widgets %}

{% block title %}Blog{% endblock %}

{% block content %}
	<h1>{{ object.title }}</h1>
	{% tag_cloud_widget 'blog' 'blogentry' %}
	{% include 'blog/includes/blog_entries.html' %}
	{% comment %}{% pagination page_obj %}{% endcomment %}
	{% ajax_more_pagination_widget page_obj request.path %}
{% endblock %}

{% block bottom_js %}
    {% include 'tagging/includes/tags_widget_js.html' %}
    {% include 'core/includes/ajax_more_pagination_js.html' %}
{% endblock %}