{% extends 'base.html' %}

{% block title %}Contact Us | {% endblock %}

{% block content %}
	<form id="frmContact" action="." method="POST">{% csrf_token %}
		<div class="title">
		    <h2>Contact Us</h2>
		    <div class="clear"></div>
		</div>
		
		{% include 'core/includes/message_error_header.html' %}
		<div class="row">
		    <label for="id_name">Name</label>
		    {{ form.name }}{{ form.name.errors }}
		</div>
		<div class="row">
		    <label for="id_email">Email Address</label>
		    {{ form.email }}{{ form.email.errors }}
		</div>
		<div class="row">
		    <label for="id_mobile">Mobile Number</label>
		    {{ form.mobile_number }}{{ form.mobile_number.errors }}
		</div>
		<div class="row">
		    <label for="id_message">Message</label>
		    {{ form.message }}{{ form.message.errors }}
		</div>
		<div class="clear"></div>
		<div class="btns">
		   	<label for="id_submit">&nbsp;</label>
		   	<input type="submit" id="submit" value="Send Message" class="btn" />
		   	<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</form>
{% endblock %}