{% extends 'base.html' %}
{% load core_widgets i18n %}

{% block title %}{% trans "Press Releases" %}{% endblock %}

{% block content %}
    <h1>{% trans "Press Releases" %}</h1>
	{% for object in object_list %}
	    <h3>{{ object.title }}</h3>
	    <p>{{ object.publish_at|date:'j F Y' }}</p>
	    <p>
	        {% if object.pdf %}
                <a href="{{ object.pdf.url }}" target="_blank" >{% trans "Download PDF" %}</a>
	        {% endif %}
            <a href="{% url 'media_press_release_detail' object.slug %}">{% trans "Read More" %}</a></p>
	    </p>
	{% empty %}
        <p>{% trans "There are no Press Releases to list." %}</p>
	{% endfor %}
	{% pagination_widget page_obj %}
{% endblock %}
