{% extends 'base.html' %}
{% load core_widgets %}

{% block title %}Press Releases{% endblock %}

{% block content %}
	<h1>Press Releases</h1>
	{% for object in object_list %}
	    <h3>{{ object.title }}</h3>
	    <p>{{ object.publish_at|date:'j F Y' }}</p>
	    <p>
	        {% if object.pdf %}
	            <a href="{{ object.pdf.url }}" target="_blank" >Download PDF</a>
	        {% endif %}
	        <a href="{% url 'media_press_release_detail' object.slug %}">Read More</a></p>
	    </p>
	{% empty %}
	    <p>There is no Media Coverage to list</p>
	{% endfor %}
	{% pagination_widget page_obj %}
{% endblock %}