{% extends 'console/base.html' %}

{% block content %}
	<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
	<h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} EULA</h1>
	<a href="{% url 'console_eula_list' %}">Back to List</a>
	
	<form id="frmUpdateEULA" action="." method="post">{% csrf_token %}
	    <label for="id_title">Title</label>
	    {{ form.title }}{{ form.title.errors }}
	    <label for="id_sites">Sites</label>
        {{ form.sites }}{{ form.sites.errors }}
	    
	    <h2>Versions</h2>
        {{ formset.management_form }}
        {% for form in formset.forms %}
            <div class="inline {{ formset.prefix }}">
                <h3>{% if form.version.value %}Version {{ form.version.value }}{% else %}New Version{% endif %}</h3>
                <div {% if not form.instance.id %}style="display: block;"{% endif %} class="version_content">
                    {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    <label for="id_version">Version</label>
                    {{ form.version }}{{ form.version.errors }}
                    <label for="id_content">Content</label>
                    {{ form.content }}{{ form.content.errors }}
                    <label for="id_state">State</label>
                    {{ form.state }}{{ form.state.errors }}
                </div>
            </div>
        {% endfor %}
	    
	    <input type="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} EULA" />
	</form>
{% endblock %}