{% extends 'console/base.html' %}

{% block content %}
	<h1>EULA List</h1>
	{% if not object_list %}
	    <a href="{% url 'console_eula_create' %}">Add EULA</a>
	{% endif %}
	
	<table>
	    <thead>
	        <tr>
	            <th>Title</th>
	            <th>&nbsp;</th>
	        </tr>
	    </thead>
	    <tbody>
	        {% for object in object_list %}
	            <tr>
	                <td><a href="{% url 'console_eula_detail' object.pk %}">{% if not object.title %}&nbsp;{% endif %}{{ object.title }}</a></td>
	                <td>
	                    <a href="{% url 'console_eula_update' object.pk %}">Edit&nbsp;&raquo;</a> &nbsp; &nbsp;
	                    <a href="{% url 'console_eula_delete' object.pk %}">Delete&nbsp;&raquo;</a> 
	                </td>
	            </tr>
	        {% empty %}
	            <tr>
	                <td colspan="2">There are no EULAs to list.</td>
	            <tr>
	        {% endfor %}
	    </tbody>
	</table>
{% endblock %}