{% extends 'base.html' %}
{% load core_widgets tunosocial_widgets i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block content %}
    <h1>{% trans "Articles" %}</h1>
	{% for object in object_list %}
	    <h3>{{ object.title }}</h3>
	    <p>{{ object.publish_at|date:'j F Y' }}</p>
	    <p>{{ object.rich_content|safe|truncatechars:200 }}</p>
        <a href="{% url 'media_article_detail' object.slug %}">{% trans "Read More" %}</a></p>
	{% empty %}
        <p>{% trans "There are no Articles to list" %}</p>
	{% endfor %}
	{% pagination_widget page_obj %}
{% endblock %}
