{% extends 'base.html' %}
{% load core_widgets i18n %}

{% block title %}{% trans "Media Coverage" %}{% endblock %}

{% block content %}
    <h1>{% trans "Media Coverage" %}</h1>
	{% for object in object_list %}
	    {% if object.image %}
	        <div><a href="{{ object.external_link }}" target="_blank"><img src="{{ object.image.url }}" /></a></div>
	    {% endif %}
	    <h3>{{ object.title|truncatechars:75 }}</h3>
	    <p>{{ object.publish_at|date:'j F Y' }}</p>
	    <p>
		    {% if object.external_link %}
                <a href="{{ object.external_link }}" target="_blank">{% trans "Learn More" %}</a>
		    {% endif %}
		    {% if object.pdf %}
                <a href="{{ object.pdf.url }}" target="_blank" >{% trans "Download" %}</a>
	        {% endif %}
		</p>
	{% empty %}
        <p>{% trans "There is no Media Coverage to list." %}</p>
	{% endfor %}
	{% pagination_widget page_obj %}
{% endblock %}
