<script>
	function update_qs_parameter(uri, key) {
	  var re = new RegExp("([?|&])" + key + "=.*?(&|$)", "i"),
	      separator = uri.indexOf('?') !== -1 ? "&" : "?";
	      match = uri.match(re);
	  if (match) {
		var value = parseInt(match[0].split('=')[1]) + 1;
	    return uri.replace(re, '$1' + key + "=" + value + '$2');
	  }
	}

	$('#frmComment').validate({
		submitHandler: function(form){
			$(form).ajaxSubmit({
				success: function(data){
					data = JSON.parse(data);
					if(data.success){
						$('#id_comment_box').val('');
						$('#comment_widget_comment_count').html(data.num_comments);
						
						if($('.commenting_comment').length > 0){
							$('#comment_widget_container').prepend(data.comment);
						} else{
							$('#comment_widget_container').html(data.comment);
						}
						
						
						if(data.num_comments == 0 || data.num_comments > 1){
							$('#comment_widget_comment_description').html('Comments');
						}else{
							$('#comment_widget_comment_description').html('Comment');
						}
						
						var load_more_pagination_link = '#pagination_load_more';
						
						if($(load_more_pagination_link).length){
                            var uri = $(load_more_pagination_link).attr('href');
                            $(load_more_pagination_link).attr('href', update_qs_parameter(uri, 'paginate_by'));
						} else {
							$('.ajax_pagination a').each(function(index, pagination_link){
								var uri = $(pagination_link).attr('href');
	                            $(pagination_link).attr('href', update_qs_parameter(uri, 'paginate_by'));
							});
						}
						
					} else{
						alert(data.reason);
					}
				}
			});
		}
	});
	
	{% if user.is_authenticated %}
		$('#comment_widget_container').on('click', 'a.report_comment', function(e){
			$.get($(this).attr('href'), function(data){
				data = JSON.parse(data);
				
				if(data.success){
					alert('You have reported this comment');
				} else{
					alert('You have already reported this comment');
				}
			});
			
			return false;
		});
	{% endif %}
</script>