{% extends 'console/base.html' %}

{% block content %}
    <h1>Media Coverage</h1>
    <a href="{% url 'console_media_media_coverage_list' %}">Back to List</a>
    
    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ object.title }}</td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <a href="{% url 'console_media_media_coverage_update' object.pk %}">Edit&nbsp;&raquo;</a> &nbsp; &nbsp;
                    <a href="{% url 'console_media_media_coverage_delete' object.pk %}">Delete&nbsp;&raquo;</a> 
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}